<h1><%= post.title%></h1>
<p><%- post.body%></p>

<div class="text-end">
  <form action="/post/<%= post._id%>/destroy" method="post">
    <button type="submit" class="btn">
      <i class="fa-solid fa-trash"></i>
      Delete post
    </button>
  </form>
</div>
