<h1>Sign Up</h1>
<form class="mb-5" action="/account/store" method="post">
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" />
  </div>
  <div class="mb-3">
    <label for="form-label" for="passwd">Password</label>
    <input class="form-control" type="password" name="password" id="password" />
  </div>
  <button type="submit" class="btn btn-primary">
    <i class="fa-solid fa-user-check"></i>
    Sign up
  </button>
</form>
<p>Already have an account? <a href="/account/sign-in">Sign in</a></p>
